@model Models.Request

@{
    ViewBag.Title = "Item Request";
}


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
<div class="container body-content">
    <h2>Choose Schedule</h2>
    <div id="calendar">
    </div>
</div>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">x</button>
                <h4 class="modal-title">Reservation Information</h4>
            </div>
            <div class="modal-body">              
                <div class="form-horizontal">               
                    <div class="form-group">
                        @Html.LabelFor(model => model.Start, "Start Date/Time", new { @class = "control-label col-lg-3"  })
                        <div class="col-lg-8">
                            @Html.TextBoxFor(model => model.Start, new { @class = "form-control",
                                                                                @id = "txtStartTime", 
                                                                                @readonly="true" })
                            @Html.ValidationMessageFor(model => model.Start)
                        </div>
                    </div>                  
                    <div class="form-group">
                         @Html.LabelFor(model => model.End, new { @class = "control-label col-lg-3" })
                        <div class="col-lg-8">   
                            @Html.TextBoxFor(model => model.End, new { @class = "form-control", @id="datepicker" })
                            @Html.ValidationMessageFor(model => model.End)       
                        </div>
                        <script type="text/javascript">
                            $(function () {
                                $('#datepicker').datetimepicker();
                            });
                        </script>                                
                    </div>
                </div>               
            </div>
            <div class="modal-footer">
                <div class="row col-lg-offset-8">
                    <div class="col-lg-4 col-lg-offset-3">
                        <button type="submit" class="btn btn-primary" id="btnSendRequest">
                            <center>Send Request</center>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}


<script type="text/javascript">
    function ShowModal() {
        $("#myModal").modal('show');
    }
</script>
