@model IEnumerable<Models.Admin>

@{
    ViewBag.Title = "Index";
}

<h2>Admin Accounts</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>      
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.adminType)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Username)
        </td>      
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.adminType)
        </td>
        <td>           
            @Html.ActionLink("Edit", "Edit", new { id=item.ID})      
        </td>
    </tr>
}

</table>

<a href="/AdminAccount/Create" class="btn btn-success">Add New</a>
<p>
   
</p>